<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/blog-page.css"></link>
    <title></title>
  </head>
  <body>
{{#blogs}}
    <div id='title'>
    <h1>{{blogtitle}}</h1>
    <p>by:{{blogauthor}}<br>
      Date:{{blogdate}}</p>
    </div>
    <div id="para">
    <h4>{{blogpost}}</h4>
  </div>



    <div style="background-color: black;">
    <form action="/add-comment" method="POST" style="margin: 1%">
      <div class="form-group">
      <input type="hidden" name="blogid" value="{{blogid}}" />
      <label style="color: white">Post Comment:</label><br>
      <textarea name="blogcomment" class="form-control"rows="5" coloumns="5" id="blogcomment" style="width: 50%;"></textarea>
    </div>

      <input type="submit" value="Submit" style="color:white;"/>
  </form>
    </div>

    <div>
      <h2>Comment</h2>
      {{#reviews}}
      <div>
      <b>{{blogcomment}}</b>
      </div>
        {{/reviews}}

{{/blogs}}





  </body>
</html>
